#!/bin/sh

alias ls='ls -Fh --color=auto'
alias dir='ls'
alias sl='ls'
alias ll='ls -l'
alias lsa='ls -la'

alias grep='grep --color=auto'
alias igrep='grep -i'

alias ta=tmux_attach

tmux_attach() {
    tmux attach -t "$1"
}

alias nslisten="netstat -plan | grep LISTEN"


# custom launchers

# work
alias sqlyog='wine "C:\Program Files (x86)\SQLyog\SQLyog.exe"'
alias idea='/work/tools/ide/intellij/idea-IU-141.713.2/bin/idea.sh'
alias eclipse='/work/tools/ide/eclipse/eclipse-java-luna-SR2-linux-gtk-x86_64/eclipse'

# ssh aliases
if [ -z "$(which autossh)" ]; then
    echo "autossh not found"
else
    alias ssh="autossh"
fi

# work
alias hans="ssh hans@172.17.20.220"

alias xmlexport-zrh1="ssh j.kalvatn@10.200.4.11"
alias xmlexport-zrh2="ssh j.kalvatn@10.200.4.12"
alias xmlexport-ams1="ssh jboss@192.168.0.192"
alias xmlexport-ams2="ssh jboss@192.168.0.192"

# other
alias northrend="ssh kalvatn@northrend.bitnexus.net"
