#!/bin/bash

ls() {
    if [[ -t 1 ]]
    then
        #paginate ls output with less
        command ls -F --color=always "$@" | less -XFR
    else
        # don't pipe to less if piping output to something else
        command ls -F --color=always "$@"
    fi
}
alias ls=ls
alias sl='ls'
alias ll='ls -l'
alias la='ll -A'

alias grep='grep --color=auto'
alias igrep='grep -i'

tmux_attach() {
    tmux attach -t "$1"
}
alias ta=tmux_attach


alias nslisten='netstat -plan | grep LISTEN'

wildfly8_jvisualvm() {
  source "$HOME"/.variables
  "$JBOSS_HOME"/bin/jvisualvm
}
alias wflymonitor=wildfly8_jvisualvm

#tailF() {
#  tail -F "$@"
#}
#alias tail=tailF


alias xup='xrdb ~/.Xresources'


check_word() {
  spelling="$(echo "$1" | aspell -a | sed -n '2p')"
  if [ "$spelling" = "*" ]; then
    sdcv -0cn "$1" | less -XFR
  else
    echo "$1 is incorrectly spelled"
    echo "$spelling"
  fi
}

alias dict=check_word

# custom launchers

# work
alias sqlyog='wine "C:\Program Files (x86)\SQLyog\SQLyog.exe"'
alias idea='/work/tools/ide/intellij/idea-IU-141.713.2/bin/idea.sh'
alias eclipse='/work/tools/ide/eclipse/eclipse-java-luna-SR2-linux-gtk-x86_64/eclipse'

# ssh aliases
if [ -z "$(which autossh)" ]; then
    echo "autossh not found"
else
    alias ssh="autossh"
fi

# work
alias hans="ssh hans@172.17.20.220"

alias xmlexport-zrh1="ssh j.kalvatn@10.200.4.11"
alias xmlexport-zrh2="ssh j.kalvatn@10.200.4.12"
alias xmlexport-zrh-test="ssh j.kalvatn@10.200.4.12"

# other
alias northrend="ssh kalvatn@northrend.bitnexus.net"
