[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
    ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
    ignore = dirty
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
    ignore = dirty
[submodule ".vim/bundle/dragvisuals.vim"]
	path = .vim/bundle/dragvisuals.vim
	url = https://github.com/gavinbeatty/dragvisuals.vim.git
