[user]
    name = Jon Terje Tvergrov Kalvatn
    email = jonterje.kalvatn@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[alias]
    # list all aliases
    alias = config --get-regexp alias
    st = !sh -c "echo;tput setaf 3; echo '--- IGNORED ---'; git ignored; echo '--- IGNORED ---'; tput sgr 0; git status"
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    ap = add -p
    #lg = log --pretty=oneline --graph -n 10
    #lg = log --graph --decorate --pretty=oneline --abbrev-commit -n 50
    #lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lg = log --graph --decorate --pretty=oneline --abbrev-commit 
    syncfork = !git fetch upstream && git merge upstream/master
    lastlog = diff HEAD^ HEAD
    rprune = remote prune origin

    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"

    diffstash = stash show -p stash@{0}
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = false
    pager = less -x4
    editor = vim
[push]
    default = current
[merge]
    tool = meld
[diff]
    tool = meld
